table,
th,
td {
    border: 1px solid #8f8f8f !important;
}

table {
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    margin: 20px;
    background-color: #eee;
}

table tr:nth-child(even) {
    background-color: white;
}